{% extends 'pages/container.html.twig' %}

{% block title %}Gde pošumiti? | {{ parent() }}{% endblock %}

{% block content %}
    <div id="tree-index-map"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdq2AVqViIwZ-ZBf3y0edborjsGIJJ3dg"></script>
    <script src="{{ asset('public/build/main.js') }}"></script>
{% endblock %}
