@import "./variables";
@import "~bootstrap/scss/bootstrap";
@import "./_front";
@import "./progress";

html {
  height: 100vh;
}

body {
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: lighten($primary, 30%);
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-align {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.table th, .table td {
  vertical-align: middle;
}

.pager {
  display: flex;
  justify-content: center;

  .pagination {
    margin-bottom: 0;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.my-select__menu {
  z-index: 5 !important;
}

.box-forest {
  width: 90%;
  height: 30px;
  margin: auto;
  background: $gray-100;
  margin-top: -30px;
  border-radius: 40px 40px 0 0;
}
