@import "./variables";
@import "~bootstrap/scss/bootstrap";
@import "./_front";
@import "./progress";

html {
  height: 100vh;
}

body {
  height: 100vh;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.table th, .table td {
  vertical-align: middle;
}

.pager {
  display: flex;
  justify-content: center;

  .pagination {
    margin-bottom: 0;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.my-select__menu {
  z-index: 5 !important;
}
